{%- for resource in resources -%}
resource "cloudflare_record" "A_{{ resourcename }}" {
  depends_on = [cloudflare_zone.{{ resourcename }}]
  name       = "{{ recordName }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "A"
  value      = "{{ resources[resource].value }}"
  zone_id     = cloudflare_zone.{{ resourcename }}.id
}

{% endfor -%}