  A                       = "{{ recordA }}"
  AAAA                    = "{{ recordAAAA }}" 
  CNAME                   = "{{ recordCANME }}" 
  MX                      = "{{ recordMX }}"
  SRV                     = "{{ recordSRV }}"
  TXT                     = "{{ recordTXT }}"
  NS                      = "{{ recordNS }}"
-------------------------------------------------
total records Created   = "{{  recordsCreated  }}"
  
total recrds in AWS     = "{{ rs }}"
-------------------------------------------------
  A                       = "{{ awsArecord }}"
  AAAA                    = "{{ awsAAAArecord }}" 
  CNAME                   = "{{ awsCNAMErecord }}" 
  MX                      = "{{ awsMXrecord }}"
  SRV                     = "{{ awsSRVrecord }}"
  TXT                     = "{{ awsTXTrecord }}"
  NS                      = "{{ awsNSrecord }}"
