  A                       = "{{ recordA }}"
  AAAA                    = "{{ recordAAAA }}" 
  CNAME                   = "{{ recordCANME }}" 
  MX                      = "{{ recordMX }}"
  SRV                     = "{{ recordSRV }}"
  TXT                     = "{{ recordTXT }}"
  NS                      = "{{ recordNS }}"

  total records Created   = "{{  recordsCreated  }}"
  total recrds in AWS     = "{{ rs }}"

