{%- for resource in resources -%}
resource "cloudflare_record" "MX1_{{ resourcename }}" {
  depends_on = [cloudflare_zone.{{ resourcename }}]
  name       = "{{ recordName }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "MX"
  priority   = "{{ resources[resource].priority1 }}"
  value      = "{{ resources[resource].value1 }}"
  zone_id    = cloudflare_zone.{{ resourcename }}.id
}

resource "cloudflare_record" "MX2_{{ resourcename }}" {
  depends_on = [cloudflare_zone.{{ resourcename }}]
  name       = "{{ recordName }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "MX"
  priority   = "{{ resources[resource].priority2 }}"
  value      = "{{ resources[resource].value2 }}"
  zone_id    = cloudflare_zone.{{ resourcename }}.id
}

{% endfor -%}