{%- for resource in resources -%}
resource "cloudflare_record" "MX1_{{ resource[0:-1]  }}" {
  depends_on = [cloudflare_zone.{{ terrafromResource  }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "MX"
  priority   = "{{ resources[resource].priority1 }}"
  value      = "{{ resources[resource].value1 }}"
  zone_id    = cloudflare_zone.{{ terrafromResource  }}.id
}

resource "cloudflare_record" "MX2_{{ resource[0:-1] }}" {
  depends_on = [cloudflare_zone.{{ terrafromResource  }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "MX"
  priority   = "{{ resources[resource].priority2 }}"
  value      = "{{ resources[resource].value2 }}"
  zone_id    = cloudflare_zone.{{ terrafromResource }}.id
}

{% endfor -%}