{%- for resource in resources -%}
resource "cloudflare_record" "{{ resource }}NS1" {
  depends_on = [cloudflare_zone.{{ cloudflare_zone_name }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "NS"
  value      = "{{ resources[resource].value1 }}"
  zone_id    = cloudflare_zone.{{ cloudflare_zone_name }}.id
}

resource "cloudflare_record" "{{ resource }}NS2" {
  depends_on = [cloudflare_zone.{{ cloudflare_zone_name }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "NS"
  value      = "{{ resources[resource].value2 }}"
  zone_id    = cloudflare_zone.{{ cloudflare_zone_name }}.id
}

resource "cloudflare_record" "{{ resource }}NS3" {
  depends_on = [cloudflare_zone.{{ cloudflare_zone_name }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "NS"
  value      = "{{ resources[resource].value3 }}"
  zone_id    = cloudflare_zone.{{ cloudflare_zone_name }}.id
}

resource "cloudflare_record" "{{ resource }}NS4" {
  depends_on = [cloudflare_zone.{{ cloudflare_zone_name }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "NS"
  value      = "{{ resources[resource].value4 }}"
  zone_id    = cloudflare_zone.{{ cloudflare_zone_name }}.id
}
{% endfor -%}