{%- for resource in resources -%}
resource "cloudflare_record" "{{ resource }}TXT" {
  depends_on = [cloudflare_zone.{{ resourcename }}]
  name       = "{{ resources[resource].name }}"
  ttl        = {{ resources[resource].ttl }}
  type       = "TXT"
  value      = "{{ resources[resource].value }}"
  zone_id    = cloudflare_zone.{{ resourcename }}.id
}

{% endfor -%}